.nav-link:hover
{
    text-decoration: none;
    color: pink;
}
.navbar-nav .nav-link.active
{
    color: palevioletred;
}
.btn
{
    color: palevioletred;
    border-color: palevioletred;
}
.btn:hover
{
 background-color: pink;
 color: white;
 border-color: pink;
}