<div class="container">
  <div class="addFriend">
    <form class="d-flex mb-3" *ngIf="isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
      novalidate>
      <div class="form-floating me-3">
        <input type="email" name="email" class="form-control" id="floatingInput" [(ngModel)]="form.email"
          placeholder="Email" [ngClass]="{ 'is-invalid': f.submitted }" />
        <label for="floatingInput">Email</label>
      </div>
      <button class="w-20 addbtn btn btn-m" type="submit">Add Friend</button>
    </form>
  </div>
  <div *ngIf="friendsList.length == 0">
    <h3 class="text-center">You have no friends yet</h3>
  </div>
  <div *ngIf="friendsList.length > 0">
    <h3 class="text-center">Your friends</h3>
    <div class="row mb-3" *ngFor="let f of friendsList">
      <div class="col-md-7 col-sm-7 mt-3 mb-3">
        <h5>{{ f.email }}</h5>
        <p class="text-muted">{{ f.online ? "Online" : "Offline" }}</p>
      </div>
      <div class="col-md-3 col-sm-3 mt-3 mb-3">
        <button class="btn btn-danger pull-right">Remove friend</button>
      </div>
    </div>
  </div>
</div>