body{
    margin-top:20px;
    background:#FAFAFA;    
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.row
{
    border: 1px solid pink;
    border-radius: 5px;
}

.addbtn {
  color: white;
  background-color: pink;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}